*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0.25rem;
}
nav ul {
    list-style: none;
    /* display: flex; */
    padding: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}